

.swiper {
  width: 100%;
  height: 80%;
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  transition: transform 500ms;
}

.imghover:hover{
  transform:scale(1.02)
}
.swiper-slide {
  width: 70%;
}


.scrollbody{
overflow-x: hidden
}

.textdiv{
top:50%;
left:50%;
transform:translate(-50%,-50%);
position:absolute;
z-index:40;
}

.main{
  position:relative;
}

.linearG{
position: absolute;
top:0;
opacity: 20%;
background-image: linear-gradient(rgb(32, 31, 31), rgb(255, 255, 255))
}


main {
margin: 0 auto;
padding: .875em .5em;
max-width: 32em;
background: whitesmoke;
font: 1.25em/ 1.375 segoe script, comic sans ms, cursive;

* + * { margin-top: 1.375em }
}

.banner {
margin-left: calc(50% - 50vw);
width: 100vw; height: 82.5vmin;
min-height: 15em;
background: linear-gradient(#000, transparent, #000),
var(--img) 50%/ cover;
background-attachment: fixed;
background-blend-mode: multiply;

&:nth-of-type(1) {
--img: url('../static/assets/car1\ \(6\).jpg');
}
}

.textco{
color:white;
}